@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2c3e50;
    --cover: #9ca3af;
    --google: #db4437;
    --google-hover: #c7463c;
}

nav {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    /* color: white; */
}

.btn-twitch:hover {
    background-color: #6441a5;
    color: #fff;
}

/* Footer */

.footer__icon {
    margin-right: 1rem;
}

/* dashboard */

/* mobile */

@media screen and (max-width: 750px) {
    #profilePicture {
        width: 20%;
    }
}

@media screen and (max-width: 400px) {
    #profilePicture {
        width: 23%;
    }
}

.priceCard {
    border: none;
    padding: 10px 50px;
}

.priceCard::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.priceCard:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
    transition: all 0.3s ease-in-out;
}

.priceCard:hover::after {
    opacity: 1;
}

.priceCard:hover .btn-outline-primary {
    color: white;
    background: #007bff;
}
