* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2c3e50;
    --cover: #9ca3af;
    --google: #db4437;
    --google-hover: #c7463c;
}

nav {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    /* color: white; */
}

.btn-google {
    background-color: var(--google);
    margin-left: 5px;
}

.btn-google:hover {
    background-color: var(--google-hover);
}

.btn-google:focus {
    background-color: var(--google);
}

/* Cover Section */

.cover__head {
    background: var(--cover);
    color: white;
    padding: 2rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.cover__headingOne {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cover__headingP {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Main */

.main__container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.main__whyComponent {
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: larger;
}

.main__whyItem__icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.main__whyItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.main__whyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.main__whyItem__heading {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main__whyItem__paragraph {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Footer */

.footer__icon {
    margin-right: 1rem;
}

/* dashboard */

.dashboard__container {
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dashboard__profile__picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}
