@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2c3e50;
    --cover: #9ca3af;
    --google: #db4437;
    --google-hover: #c7463c;
}

nav {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    /* color: white; */
}

.btn-twitch:hover {
    background-color: #6441a5;
    color: #fff;
}

/* Footer */

.footer__icon {
    margin-right: 1rem;
}

/* dashboard */

/* mobile */

@media screen and (max-width: 750px) {
    #profilePicture {
        width: 20%;
    }
}

@media screen and (max-width: 400px) {
    #profilePicture {
        width: 23%;
    }
}
