API endpoints <br /><br />
<strong>POST</strong>
<pre>/api/upload/single</pre>
<p>(This will upload a single image)</p>
<br />
<strong>POST</strong>
<pre>/api/upload/multiple</pre>
<p>(This will upload a multiple images)</p>
<br />
<strong>GET</strong>
<pre>/api/uploads</pre>
<p>
    (This will allows you to see all the images that uploaded, this requireds a
    API_KEY)
</p>
