<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Imagemagik</title>
    </head>
    <body>
        <!-- Navbar path: /partials/navbar -->
        <%- include('partials/navbar.ejs') %>
    </body>
</html>
