<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Imagemagik</title>
    </head>
    <body>
        <!-- Navbar path: /partials/navbar -->
        <%- include('partials/navbar.ejs') %>
        <!-- Cover path: /**/ -->
        <section class="cover__head">
            <div class="cover__items">
                <h1 class="cover__headingOne">
                    The free image hosting provider.
                </h1>
                <p class="cover__headingP">
                    Imagemagik is free, safe, and secure image hosting provider
                    for everyone!
                </p>
            </div>
        </section>
    </body>
</html>
