<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Imagemagik</title>
    </head>
    <body>
        <!-- Navbar path: /partials/navbar -->
        <%- include('partials/navbar.ejs') %>
        <!-- Cover path: /**/ -->
        <section class="cover__head">
            <div class="cover__items">
                <h1 class="cover__headingOne">
                    The free image hosting provider.
                </h1>
                <p class="cover__headingP">
                    Imagemagik is free, safe, and secure image hosting provider
                    for everyone!
                </p>
                <a href="/auth/github" class="btn btn-primary"> Login </a>
                <a href="/dashboard#upload" class="btn btn-secondary">
                    Upload
                </a>
            </div>
        </section>
        <!-- Main path: /**/ -->
        <section class="main__container">
            <div class="main__items">
                <h2 class="main__whyComponent">Why use Imagemagik?</h2>
                <div class="main__whyItems">
                    <div class="main__whyItem">
                        <div class="main__whyItem__icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="main__whyItem__text">
                            <h3 class="main__whyItem__heading">Free</h3>
                            <p class="main__whyItem__paragraph">
                                Imagemagik is free to use and is safe to use.
                            </p>
                        </div>
                    </div>
                    <div class="main__whyItem">
                        <div class="main__whyItem__icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="main__whyItem__text">
                            <h3 class="main__whyItem__heading">Upload</h3>
                            <p class="main__whyItem__paragraph">
                                Upload your images to Imagemagik and share them
                                with the world.
                            </p>
                        </div>
                    </div>
                    <div class="main__whyItem">
                        <div class="main__whyItem__icon">
                            <i class="fas fa-share-alt"></i>
                        </div>
                        <div class="main__whyItem__text">
                            <h3 class="main__whyItem__heading"></h3>
                            <p class="main__whyItem__paragraph">
                                Share your images with the world.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer path: /partials/footer -->
        <%- include('partials/footer.ejs') %>
    </body>
</html>
