<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Imagemagik - Premium</title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Premium</h4>
                        </div>
                        <div class="card-body">
                            <p>
                                Imagemagik Premium is a premium subscription
                                that allows you get some extra features on the
                                platform.
                            </p>
                            <p>View priceing information below.</p>
                            <p>
                                <strong>
                                    <a href="#buy">Buy Premium</a>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="buy">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card priceCard h-100 shadow-lg">
                            <div class="card-body">
                                <div class="text-center p-3">
                                    <h5 class="card-title">Free 💎</h5>
                                    <small>For individuals</small>
                                    <br /><br />
                                    <span class="h2">$0</span>/month
                                    <br /><br />
                                </div>
                                <p class="card-text">
                                    This is a free plan for everyone that join
                                    us!
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    Free Support
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    30 MB storage
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    Free updates
                                </li>
                            </ul>
                            <div class="card-body text-center">
                                <a
                                    href="/login"
                                    class="btn btn-outline-success btn-lg"
                                >
                                    Sign Up Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card priceCard h-100 shadow-lg">
                            <div class="card-body">
                                <div class="text-center p-3">
                                    <h5 class="card-title">Supporter ❤</h5>
                                    <small>For supports / families</small>
                                    <br /><br />
                                    <span class="h2">$10</span>/month
                                    <br /><br />
                                </div>
                                <p class="card-text">
                                    Get some more features to your
                                    account/profile.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    More storage
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    More customizations on your profile/account
                                </li>

                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>

                                    API Access
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    Support Us ❤
                                </li>
                            </ul>
                            <div class="card-body text-center">
                                <a class="btn btn-outline-primary btn-lg">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card priceCard h-100 shadow-lg">
                            <div class="card-body">
                                <div class="text-center p-3">
                                    <h5 class="card-title">Rocket 🚀</h5>
                                    <small
                                        >This plan is a onetime payment
                                        subscription</small
                                    >
                                    <br /><br />
                                    <span class="h2">$40</span>
                                    <br /><br />
                                </div>
                                <p class="card-text">
                                    This plan is for you that have many picture
                                    or video to upload.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>
                                    Unlimited storage
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>

                                    Full customizations profile/account
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>

                                    Upload Videos
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>

                                    API Access
                                </li>
                                <li class="list-group-item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-check"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                                        />
                                    </svg>

                                    Support Us ❤
                                </li>
                            </ul>

                            <div class="card-body text-center">
                                <a class="btn btn-outline-danger btn-lg">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
