<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title><%- username %></title>
    </head>
    <body>
          <!-- Navbar path: /partials/navbar -->
        <%- include('partials/navbar.ejs') %>

        <h1 class="text-center">Welcome to your profile <%- username %> 
    </body>
</html>
