<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--  -->
        <link
            rel="stylesheet"
            href="/plugins/bootstrap/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/plugins/fontawesome/css/all.css" />
        <!-- JavaScript Bundle with Popper -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <title>View</title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>

        <section class="text-center mb-3 mt-5" style="font-size: xx-large">
            <div class="row">
                <label for="share"> Share to: </label>
                <a
                    href="https://twitter.com/intent/tweet?text=Check%20out%20this%20image%20I%20just%20uploaded%20to%20imagemagik%20%23imagemagiktk&url=https://www.imagemagik.tk/view/<%-
                imageId %>"
                    target="_blank"
                >
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </section>

        <style>
            @media screen and (max-width: 768px) {
                .img-fluid {
                    width: 55%;
                }
            }

            @media screen and (max-width: 400px) {
                .img-fluid {
                    width: 60%;
                }
            }
        </style>
        <script>
            if (window.location.pathname == "/view/<%- imageId %>") {
                document.getElementById("home").classList.remove("active");
            }

            function logout() {
                window.location.href = "/auth/logout";
            }

            function upload() {
                window.location.href = "/dashboard#upload";
            }

            function sharetab() {
                window.open("/share/<%- imageId %>", "_blank");
            }
        </script>
    </body>
</html>
