<!-- create a responsive footer with bulma -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Imagemagik</strong> by
            <a href="https://lassv.netlify.app">Lasse Vestergaard</a>. The
            source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            <span class="footer__copyright"></span>
        </p>
        <p>
            <a class="footer__icon" href="https://github.com/lassv/imagemagik">
                <i class="fab fa-github fa-lg"></i>
            </a>

            <a class="footer__icon" href="https://twitter.com/@lassev05">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
        </p>
    </div>
</footer>
<!-- end of footer -->
<!-- end of body -->
