<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- set an image as the logo -->
        <a class="navbar-brand" href="/">
            <img
                src="/upload.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt="Imagemagik"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link nav-a active"
                        aria-current="page"
                        href="#"
                        ><i class="fa fa-home"></i> Home</a
                    >
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa fa-code"></i> Developers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/api" target="_blank"
                                >API</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                target="_blank"
                                href="https://github.com/lassv/imagemagik/blob/main/contribution.md"
                                >Contributing</a
                            >
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="https://github.com/lassv/imagemagik"
                                ><i class="fab fa-github"></i> Github</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form> -->
        </div>
    </div>
</nav>
